[Unit]
Description=Kanata keyboard remapper

[Service]
ExecStart=/usr/local/bin/kanata --cfg /home/rig002/.config/kanata/kanata.kbd
Restart=on-failure

[Install]
WantedBy=multi-user.target
